@using AsiaticIndustries.Core.Infrastructure
@using Crypto = AsiaticIndustries.Core.Infrastructure.Crypto
<header class="header">
    <a href="@Constants.NgReturnUrl_Home" class="logo">
        <img alt="" src="/Assets/images/logo.png">
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>@SessionHelper.Name <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                        <li class="dropdown-header text-center">Account</li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Constants.NgReturnUrl_MyAccount" active-link="active">
                                <i class="fa fa-user fa-fw pull-right"></i>
                                Profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        @if (SessionHelper.SelectedRole.RoleID == Constants.Role_Admin)
                        {
                            <li>
                                <a href="@Constants.NgReturnUrl_AddUser" active-link="active"><i class="fa fa-user fa-fw pull-right"></i>Add User</a>
                                <a href="@Constants.NgReturnUrl_ListUser" active-link="active"><i class="fa fa-users fa-fw pull-right"></i>List User</a>
                            </li>
                            <li class="divider"></li>
                        }
                      
                        <li>
                            <a href="/security/logout" active-link="active"><i class="fa fa-ban fa-fw pull-right"></i>Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
